* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.invisible {
  visibility: hidden;
}

.isOnSale {
  visibility: hidden;
}
.isSoldOut {
  visibility: hidden;
}

body {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.category_list_container h3 {
  text-align: center;
  padding: 1rem;
  text-transform: lowercase;
  font-weight: bold;
  color: black;
  font-size: clamp(1rem, 2vw, 2rem);
}

h3 {
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-transform: lowercase;
}
h4 {
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: lowercase;
}

a {
  text-decoration: none;
  color: black;
  text-transform: lowercase;
}

.logo span {
  display: inline-block;
  transform: scaleX(-1) translateX(-0rem);
  color: #a22222;
  text-transform: uppercase;
}

.logo {
  font-size: 3rem;
  padding-top: 2rem;
  font-family: "Inter", serif;
  font-weight: 800;
  font-style: normal;
  padding-bottom: 2rem;
  text-align: center;
}

h2 {
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: lowercase;
}

.upper {
  text-transform: uppercase;
  font-weight: 900;
  font-size: clamp(2rem, 3vw, 5rem);
}

.click:hover {
  color: gray;
}
.click {
  text-decoration: underline;
}

.container img:hover {
  transform: scale(1.01);
}

/* .box-1 img {
  opacity: 40%;
} */

.sold-out-card .opacity {
  opacity: 40%;
}

.discount {
  display: flex;
  gap: 14px;
  align-items: center;
}

.ny-pris {
  font-weight: bold;
  color: #d32f2f;
}
.ny-pris2 {
  font-weight: bold;
  color: #d32f2f;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.gammel-pris {
  text-decoration: line-through;
  color: gray;
}
.gammel-pris2 {
  text-decoration: line-through;
  color: gray;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.image-container {
  position: relative; /* Allows absolute positioning inside */
  display: inline-block; /* Keeps size only as large as the image */
}
.sale {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #a22222;
  border-radius: 50px;
  color: white;
  padding: 10px 15px;
  font-weight: bold;
  visibility: visible;
}

.isOnSale {
  position: absolute;
  top: 30px;
  left: 15px;
  background: #a22222;
  border-radius: 50px;
  color: white;
  padding: 10px 15px;
  font-weight: bold;
  visibility: visible;
}

.isSoldOut {
  position: absolute;
  top: 30px; /* Adjust as needed */
  left: 15px; /* Adjust as needed */
  background: gray; /* Semi-transparent background */
  border-radius: 50px;
  color: white;
  padding: 10px 15px;
  font-weight: bold;
  opacity: 100%;
  visibility: visible;
}

.sold-out {
  position: absolute;
  top: 15px; /* Adjust as needed */
  left: 15px; /* Adjust as needed */
  background: gray; /* Semi-transparent background */
  border-radius: 50px;
  color: white;
  padding: 10px 15px;
  font-weight: bold;
  opacity: 100%;
  visibility: visible;
}

img {
  max-width: 100%;
}

/* .container img {
  padding-top: 3rem;
} */

.buy {
  border: 1.5px solid black; /* Default border */
  color: black;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 50px;
  transition: border 0.3s ease, color 0.3s ease;
}

.buy :hover {
  color: #a22222;
}

.buy:hover {
  border: 1.5px solid #a22222; /* Default border */
  color: black;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-radius: 50px;
}

.red-hover {
  border: 1.5px solid black; /* Default border */
  border-radius: 50px;
  transition: border 0.3s ease, color 0.3s ease;
  color: black;
}

.red-hover :hover {
  color: #a22222;
}

.red-hover:hover {
  border: 1.5px solid #a22222;
}

.productContainer img {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.productContainer h2 {
  padding-bottom: 0;
}

.productContainer p {
  line-height: 25px;
  padding-top: 0.7rem;
}

h5 {
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 2vw, 1.3rem);
  color: gray;
  text-transform: lowercase;
}

h6 {
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 2vw, 1.3rem);
  padding-top: 1rem;
  text-transform: lowercase;
}

p {
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(0.8rem, 2vw, 1rem);
  text-transform: lowercase;
}

.productContainer p {
  line-height: 220%;
}

.price {
  padding-top: 2rem;
}

@media (min-width: 800px) {
  .category_list_container h3 {
    padding: 3rem;
  }

  body {
    padding-left: 9rem;
    padding-right: 9rem;
  }

  .pad-top {
    align-content: center;
    padding-right: 3rem;
  }
}
